*, *::after, *::before {
  box-sizing: border-box;
}

nav {
  height: 150px;
  position: absolute;
  left: 50%;
  border-top: 10px solid black;
  width: 100vw;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border-bottom: 10px solid black;
  background-color: white;

}

nav img{
  height: 100px;
}

body {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-zoom-backgrounds-bloomscape-plants-1586893534.png?resize=480:*");
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


.dropbtn{
  display: block;

  align-items: center;
  justify-content: center;
  width: 250px;
}
.dropbtn button {
  background-color: white;
  display: block;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  border: 2px solid black;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  width: 250px;
}


/* Dropdown button on hover & focus */
.dropbtn button:hover, .dropbtn button:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  top: 250px;
}
